<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="kiho">
    <meta name="date" content="">
    <meta name="description" content="">
    <!--구글 fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/board-css.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="https://sdsdfile.s3.ap-northeast-2.amazonaws.com/img/favicon.png"
          type="image/x-icon">
    <title>숙덕숙덕 | 숙박 예약과 커뮤니티를 한번에</title>
</head>

<body class="index">
<!-- admin header -->
<div data-th-include="/admin/admin-header.html" id="admin-header" th:if="${session.loginId eq 'admin'}"></div>
<!-- header -->
<div data-th-include="header" id="header" th:if="${session.loginId ne 'admin'}"></div>
<!-- loading -->
<!--<div data-th-include="loading" id="loading"></div>-->
<!-- PageUpButton-->
<a href="#header" class="bi bi-arrow-up-circle" th:if="${session.loginId ne 'admin'}"></a>
<a href="#admin-header" class="bi bi-arrow-up-circle" th:if="${session.loginId eq 'admin'}"></a>
<!--main 시작 부분-->
<main class="main-body">

    <div class="container">

        <table class="table table-striped">
            <thead>
            <div class="board_title">
                <span class="list_title">환불요청</span>
                <select class="reservation_select listbox-option" id="selectBox">
                    <option>전체</option>
                    <option>환불대기</option>
                    <option>환불완료</option>
                </select>
            </div>

            <tr class="table-primary">
                <td>예약번호</td>
                <td>숙소이름</td>
                <td>가격</td>
                <td>예약날짜</td>
                <td>이용날짜</td>
                <td>아이디</td>
                <td>환불 승인</td>
            </tr>
            </thead>
            <tbody id="tkList"></tbody>
        </table>
        <div id="numbering"></div>
        <div style="float: right;">
            <!-- 카테고리 -->
            <select class="listbox" id="category">
                <option value="STID">아이디</option>
                <option value="STNUM">예약번호</option>
            </select>
            <!--검색어-->
            <input type="text" placeholder="검색" class="listbox" id="keyword"/>
            <button class="btn btn-outline-primary" onclick="tkSearch()"><i class="bi bi-search"></i></button>
        </div>
    </div>

</main>
<!--main 마지막-->

<div data-th-include="footer" id="footer" class="main-footer">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous">
</script>
<script>
    let page = 1;      // 페이지 번호
    let limit = 20;    // 한페이지에 출력될 데이터 갯수
    const block = 5;  // 한페이지에 출력괼 페이지 갯수
    let count = 0;    // 전체 데이터 갯수
    let list = [];    // 데이터를 담을 변수

    $.ajax({
        type: "POST",
        url: "/refundList",
        dataTypes: "json",
        success: function (result) {
            console.log(result);
            list = result;

            tkList(page, list);
        },
        error: function () {
            alert('refundList 통신 실패!');
        }
    });

    // 게시글 변경
    $('#limit').change(function () {
        page = 1;
        limit = parseInt($('#limit').val());
        tkList(page, list);
    });

    $('#selectBox').change(function () {
        let result = $('#selectBox option:selected').val();
        console.log(result);
        $('#keyword').val();
        let key = '2';
        if (result == '환불완료')
            key = '3';
        if (result == '전체') {
            $.ajax({
                type: "POST",
                url: "/refundList",
                dataTypes: "json",
                success: function (result) {
                    console.log(result);
                    list = result;

                    tkList(page, list);
                },
                error: function () {
                    alert('soList 통신 실패!');
                }
            });
            return;
        }
        $.ajax({
            type: "POST",
            url: "/reservSearch",
            data: {"category": "STPAY", "keyword": key},
            dataTypes: "json",
            success: function (result) {
                console.log(result);
                list = result;
                tkList(page, list);
            },
            error: function () {
                alert('tkSearch 통신 실패!');
            }
        });
    })

    // 검색한 목록 출력
    function tkSearch() {
        let category = $('#category').val();
        let keyword = $('#keyword').val();

        $.ajax({
            type: "POST",
            url: "/reservSearch",
            data: {"category": category, "keyword": keyword},
            dataTypes: "json",
            success: function (result) {
                console.log(result);
                list = result;
                tkList(page, list);
            },
            error: function () {
                alert('tkSearch 통신 실패!');
            }
        });
    }

    // 검색창 이용시 버튼 클릭 없이 enter키로 검색 실행
    let searchKey = document.getElementById('keyword');
    searchKey.addEventListener("keyup", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            tkSearch();
        }
    });

    // 리스트 출력 함수
    function tkList(page, list) {
        count = list.length;

        let maxPage = Math.ceil(count / limit);
        if (page > maxPage) {
            page = maxPage;
        }

        let startRow = (page - 1) * limit;  // 0 5 10
        let endRow = page * limit - 1;      // 4 9 14

        if (endRow >= count) {
            endRow = count - 1;
        }

        let startPage = (Math.ceil(page / block) - 1) * block + 1;    // 1 1 1 1 1 6
        let endPage = startPage + block - 1;                      // 5 5 5 5 5 10

        if (endPage > maxPage) {
            endPage = maxPage;
        }

        let txt = "";

        console.log(`page : ${page} , startPage : ${startPage}, endPage : ${endPage}, maxPage : ${maxPage}`);
        console.log(`count : ${count} , startRow : ${startRow}, endRow : ${endRow}`);
        console.log(`limit : ${limit} , block : ${block}`);

        if (count > 0) {
            for (let i = startRow; i <= endRow; i++) {
                let day = ['일', '월', '화', '수', '목', '금', '토'];
                let date = new Date(list[i].stDate);
                let dateFormat1 = (date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + '  (' + day[date.getDay()] + ') ' + date.getHours() + ' : ' + (('00' + date.getMinutes()).slice(-2)) + '');
                txt += `<tr>`;
                txt += `<td>${list[i].stNum}</td>`;
                txt += `<td><a style="text-decoration: none;color: #275da0" href="${list[i].stUrl}">${list[i].stRoomInfo}</a></td>`;
                txt += `<td>${list[i].stAmount}</td>`;
                txt += '<td>' + dateFormat1 + '</td>';
                txt += `<td>${list[i].stStartDay}~${list[i].stEndDay}</td>`;
                txt += `<td>${list[i].stId}</td>`;
                if (list[i].stPay == 2) {
                    txt += `<td><button type="button" class="btn AR-btn-outline-primary" onclick="requestPay('${list[i].stNum}')">환불승인</button></td>`;
                } else if (list[i].stPay == 3) {
                    txt += `<td><button  class="btn AR-btn-outline-primary" >환불완료</button></td>`;
                }

                txt += `</tr>`;

            }
        } else {
            txt += `<tr>`;
            txt += `<td colspan="7" style="text-align: center">검색 결과가 없습니다</td>`;
            txt += `</tr>`;
            page = 1;
            startPage = 1;
            endPage = 1;
            maxPage = 1;
            startRow = 0;
            endRow = 0;
        }
        $('#tkList').empty();
        $('#tkList').append(txt);

        let pageNum = [];
        let prev = (page - 1 < 1 ? 1 : page - 1);
        let next = (page + 1 >= maxPage ? maxPage : page + 1);
        pageNum += `<ul class="pagination">`;
        // [이전] 버튼
        if (page <= 1) {
            pageNum += `<li class="prev page-link">이전</li>`;
        } else {
            pageNum += `<li class="page-item"><a class="prev page-link" href="#" data-page="${prev}">이전</a></li>`;
        }
        // [번호] 버튼
        for (let i = startPage; i <= endPage; i++) {
            if (page == i) {
                pageNum += `<li class="iNum page-link active">${i}</li>`;
                continue;
            }
            pageNum += `<li class="iNum page-item "><a class="iNum page-link" href="#" data-page="${i}"> ${i} </a></li>`;
        }
        // [다음] 버튼
        if (page >= maxPage) {
            pageNum += `<li class="next page-link">다음</li>`;
        } else {
            pageNum += `<li class="next page-item"><a class="next page-link" href="#" data-page="${next}">다음</a></li>`;
        }
        pageNum += `</ul>`;
        $('#numbering').empty();
        $('#numbering').append(pageNum);

        // [이전] [번호] [다음] 버튼 클릭시
        $(document).on("click", "#numbering a", function (e) {
            page = parseInt($(this).data('page'));
            tkList(page, list);
        });
    }


    function requestPay(x) {
        location.href = "/requestPay/" + x;
    }
</script>
</html>