<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Hyehwi">
    <meta name="date" content="">
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="https://sdsdfile.s3.ap-northeast-2.amazonaws.com/img/favicon.png" type="image/x-icon">
    <title>숙덕숙덕 | 숙박 예약과 커뮤니티를 한번에</title>
</head>
<body class="index">
<!-- admin header -->
<div data-th-include="/admin/admin-header.html" id="admin-header" th:if="${session.loginId eq 'admin'}"></div>

<!-- header -->
<div data-th-include="header" id="header" th:if="${session.loginId ne 'admin'}"></div>

<!-- PageUpButton-->
<a href="#header" class="bi bi-arrow-up-circle" th:if="${session.loginId ne 'admin'}"></a>
<a href="#admin-header" class="bi bi-arrow-up-circle" th:if="${session.loginId eq 'admin'}"></a>
<main>
    <div class="container">
        <h2><i class="bi bi-pencil-square"></i> 사업자 정보 수정</h2>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">정보수정 페이지</li>
                <li class="breadcrumb-item"><a href="http://localhost:9092/">Home</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="container m-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <div class="container mt-3">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#opModify">정보수정</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="opModify" class="m-div tab-pane active"><br>
                                    <div class="op-div">
                                        <p class="h5"><strong class="m-color">[[${modify.soName}]]</strong>님의 프로필</p>
                                        <h6 class="card-title">수정할 정보를 입력해 주세요.</h6><br/>

                                        <form action="/soModify" method="POST" encType="multipart/form-data"
                                              name="soModiForm">
                                            <input type="hidden" name="soNum" th:value="${modify.soNum}">

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label m-data-label"><strong>사업자
                                                    이름</strong></label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="listbox" name="soName" size="40"
                                                           th:value="${modify.soName}"/>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label m-data-label"><strong>사업자
                                                    등록번호(ID)</strong></label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="listbox" name="soBusnum" size="40"
                                                           th:value="${modify.soBusnum}" readonly/>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label m-data-label"><strong>비밀번호</strong></label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="listbox" name="soPw" id="soPw3"
                                                           placeholder="영문, 숫자, 특수문자를 혼합해서 8자 이상" size="40"
                                                           required/><br/>
                                                    <span id="check18"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label m-data-label"><strong>기업체명</strong></label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="listbox" name="soCompany" size="40"
                                                           th:value="${modify.soCompany}"/>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label m-data-label"><strong>연락처</strong></label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="listbox" name="soPhone" size="40"
                                                           th:value="${modify.soPhone}"/>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label m-data-label"><strong>이메일</strong></label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="listbox" name="soEmail" size="40"
                                                           th:value="${modify.soEmail}"/>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label m-data-label"><strong>주소</strong></label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="sample6_postcode3" placeholder="우편번호"
                                                           class="listbox" size="23">
                                                    <input type="button" onclick="sample6_execDaumPostcode()"
                                                           class="listbox" value="우편번호 찾기"><br/>
                                                    <input type="text" id="sample6_address3" placeholder="주소"
                                                           class="listbox" size="40"><br/>
                                                    <input type="text" id="sample6_detailAddress3" placeholder="상세주소"
                                                           class="listbox" size="40">
                                                    <input type="hidden" id="soAddr2" name="soAddr"/>
                                                </div>
                                            </div>

                                            <div class="m-btn">
                                                <input type="submit" class="btn btn-outline-primary" value="회원수정"
                                                       id="modifyForm"/>
                                            </div>
                                    </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        </div>
        </div>

    </section>

</main>
<div data-th-include="footer" id="footer"></div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous">
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script type="text/javascript">

    let check_pw1 = false;

    $(function () {
        // 비밀번호 정규식
        $('#soPw3').keyup(function () {

            console.log('비밀번호 확인!');
            let soPw = $('#soPw3').val();
            let check18 = $('#check18');

            // 기본값 -1
            let num = soPw.search(/[0-9]/);          // 숫자
            let eng = soPw.search(/[a-z]/);          // 영문자
            let spe = soPw.search(/[~!@#$%^&*]/);    // 특수문자
            let spc = soPw.search(/\s/);             // 공백여부

            if (soPw.length < 8 || soPw.length > 16) {
                check18.html("8자리에서 16자리 이내로 입력해주세요")
                check18.css('color', 'red');
                check_pw1 = false;
            } else if (spc != -1) {
                check18.html("공백없이 입력해주세요");
                check18.css('color', 'red');
                check_pw1 = false;
            } else if (num == -1 || eng == -1 || spe == -1) {
                check18.html("영문, 숫자, 특수문자를 혼합해서 입력해주세요");
                check18.css('color', 'red');
                check_pw1 = false;
            } else {
                check18.html("사용가능한 비밀번호 입니다.");
                check18.css('color', 'blue');
                check_pw1 = true;
            }
        });

    });

    // 우편번호 찾기
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode3').value = data.zonecode;
                document.getElementById("sample6_address3").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress3").focus();
            }
        }).open();
    }

    // 수정버튼
    $('#modifyForm').click(function () {
        let soAddr = $('#soAddr2');

        let addr1 = $('#sample6_postcode3').val();
        let addr2 = $('#sample6_address3').val();
        let addr3 = $('#sample6_detailAddress3').val();

        let addr = "(" + addr1 + ")" + addr2 + ", " + addr3;

        soAddr.val(addr); // soAddr의 값을 설정

        if (!check_pw1) {
            alert('비밀번호를 확인해주세요.');
        } else {
            mModiForm.submit();
        }
    });

</script>
</html>