<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="jongs">
    <meta name="date" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://sdsdfile.s3.ap-northeast-2.amazonaws.com/img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/board-css.css">
    <title>숙덕숙덕 | 숙박 예약과 커뮤니티를 한번에</title>

</head>
<body class="hotel-body">
<!-- header -->
<div data-th-include="header" id="header"></div>
<main class="main-body">
    <div class="container">
<h2> 내 예약 내역</h2>
<table class="myReserv_table">
    <tr>
        <th>예약번호</th>
        <th>예약자 ID</th>
        <th>예약 숙소 / 상품명</th>
        <th>가격</th>
        <th>예약 기간</th>
        <th>결제 여부</th>
    </tr>
    <tr th:each="list : ${list}">
        <td th:text="${list.stNum}"></td>
        <td th:text="${list.stId}"></td>
        <td th:text="${list.stRoomInfo}"></td>
        <td th:text="${list.stAmount}"></td>
        <td th:text="${list.stStartDay} + ' ~ ' + ${list.stEndDay}"></td>
        <td th:if="${list.stPay==0}"> <a th:href="|/rePay/${list.stNum}|">결제하기</a> </td>
        <td th:if="${list.stPay==1}">결제완료</td>

    </tr>

</table>
    </div>
</main>
<div data-th-include="footer" id="footer"></div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<!-- 포트원 라이브러리(결제) -->
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script>
    // 로그인 체크 스크립트
    var loginId = "[[${session.loginId}]]";
    $(document).ready(function (){
        console.log("로그인 아이디 : "+loginId);
        if(loginId == ""){
            alert("로그인 후 이용해주세요");
            // 인덱스 페이지로
            location.href="/loginForm";
        };
    });
</script>

</html>