<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="kiho">
    <meta name="date" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon1.png" type="image/x-icon">
    <title>숙덕숙덕 | 숙박 예약과 커뮤니티를 한번에</title>
</head>

<body class="index">
<nav class="navbar navbar-expand-sm bg-light navbar-body">
    <table>
        <tr>
            <td>
                <div class="container-fluid">
                    <a class="navbar-brand footer-a" href="/"><img src="https://sdsdfile.s3.ap-northeast-2.amazonaws.com/img/footer-logo.png"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse footer-div" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/숙덕숙덕소개">숙덕숙덕 소개</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/개인정보처리방침">개인정보처리방침</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/사업자정보확인">사업자 정보확인</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/customer">고객센터</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            <td>
                <div class="collapse navbar-collapse" >
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <p class="nav-link footer-p">ⓒ 숙덕숙덕-자고갈래? 2023.</p>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

</nav>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous">
</script>

</html>