<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="jongs">
    <meta name="date" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="/img/favicon.png?v=2" type="image/x-icon">
    <title>숙덕숙덕 | 숙박 예약과 커뮤니티를 한번에</title>
    <style>
    .loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.8;
        background: white;
        z-index: 99;
        text-align: center;
    }
    body.no-scroll {
        overflow: hidden !important
    }

</style>
</head>
<body class="no-scroll">
<div class="loading">
    <div style="margin-top: 10%">
        <img src="https://sdsdfile.s3.ap-northeast-2.amazonaws.com/img/logoLoad2.gif" alt="로딩이미지"/>
    </div>
    <p>로딩 중입니다. 잠시만 기다려주세요.</p>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous"></script>
<script>

</script>

</html>