<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="kiho">
    <meta name="date" content="">
    <meta name="description" content="">
    <!--구글 fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="https://sdsdfile.s3.ap-northeast-2.amazonaws.com/img/favicon.png" type="image/x-icon">
    <title>숙덕숙덕 | 숙박 예약과 커뮤니티를 한번에</title>
</head>

<body class="index">
<!-- admin header -->
<div data-th-include="/admin/admin-header.html" id="admin-header" th:if="${session.loginId eq 'admin'}"></div>

<!-- header -->
<div data-th-include="header" id="header" th:if="${session.loginId ne 'admin'}"></div>

<!-- PageUpButton-->
<a href="#header" class="bi bi-arrow-up-circle" th:if="${session.loginId ne 'admin'}"></a>
<a href="#admin-header" class="bi bi-arrow-up-circle" th:if="${session.loginId eq 'admin'}"></a>
<!--main 시작-->
<main>
    <div class="container">
        <h2>숙덕숙덕 개인정보처리방침</h2>
        <br/>
        <p class="f-col">>< 숙덕숙덕-자고갈래? >(이하 '숙덕숙덕 | 숙박 예약과 커뮤니티를 한번에')은(는) 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고<br/>
            이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.</p>
        <br/>
        <p>○ 이 개인정보처리방침은 2023년 7월 7부터 적용됩니다.</p>
        <br/>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        제1조(개인정보의 처리 목적)
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        < 숙덕숙덕-자고갈래? >(이하 '숙덕숙덕 | 숙박 예약과 커뮤니티를 한번에')은(는) 다음의 목적을 위하여 개인정보를 처리합니다.<br/>
                        처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며 이용 목적이 변경되는 경우에는 「개인정보 보호법」 제18조에 따라 별도의 동의를<br/>
                        받는 등 필요한 조치를 이행할 예정입니다.<br/><br/>
                        1. 홈페이지 회원가입 및 관리<br/>
                        회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 각종 고지·통지, 고충처리 목적으로 개인정보를 처리합니다.<br/><br/>
                        2. 재화 또는 서비스 제공<br/>
                        서비스 제공, 맞춤서비스 제공, 본인인증을 목적으로 개인정보를 처리합니다.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        제2조(개인정보의 처리 및 보유 기간)
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        ① < 숙덕숙덕-자고갈래? >은(는) 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.<br/><br/>
                        ② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.<br/><br/>
                        1.< 홈페이지 회원가입 및 관리 ><br/><br/>
                        < 홈페이지 회원가입 및 관리 >와 관련한 개인정보는 수집.이용에 관한 동의일로부터< 탈퇴 요청 시>까지 위 이용목적을 위하여 보유.이용됩니다.<br/><br/>
                            보유근거 : <br/>
                            서비스 가입, 계약의 이행 및 서비스 제공, 예약∙구매∙관심상품 내역, 결제대금의 청구, 상담∙불만∙민원처리, 고지∙안내사항 전달, 상품∙서비스 이용실적 정보 통계∙분석, 상품∙서비스 개선 및 추천, 불법∙부정이용방지<br/><br/>
                            관련법령 :<br/>
                            1)표시/광고에 관한 기록 : 6개월<br/>
                            2) 계약 또는 청약철회 등에 관한 기록 : 5년<br/>
                            3) 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br/>
                            4) 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년<br/>
                            예외사유 : 없음
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        제3조(처리하는 개인정보의 항목)
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        ① < 숙덕숙덕-자고갈래? >은(는) 다음의 개인정보 항목을 처리하고 있습니다.<br/><br/>

                        1< 홈페이지 회원가입 및 관리 ><br/><br/>
                        필수항목 : 이름, 생년월일, 성별, 로그인ID, 비밀번호, 자택주소, 휴대전화번호, 이메일<br/>
                        선택항목 : 접속 IP 정보, 쿠키, 서비스 이용 기록
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingfour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        제7조(정보주체와 법정대리인의 권리·의무 및 그 행사방법에 관한 사항)
                    </button>
                </h2>
                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        ① 정보주체는 숙덕숙덕-자고갈래?에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.<br/><br/>
                        ② 제1항에 따른 권리 행사는숙덕숙덕-자고갈래?에 대해 「개인정보 보호법」 시행령 제41조제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 숙덕숙덕-자고갈래?은(는) 이에 대해 지체 없이 조치하겠습니다.<br/><br/>
                        ③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.이 경우 “개인정보 처리 방법에 관한 고시(제2020-7호)” 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.<br/><br/>
                        ④ 개인정보 열람 및 처리정지 요구는 「개인정보 보호법」 제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.<br/><br/>
                        ⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.<br/><br/>
                        ⑥ 숙덕숙덕-자고갈래?은(는) 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingfive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                        제8조(개인정보의 안전성 확보조치에 관한 사항)
                    </button>
                </h2>
                <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        < 숙덕숙덕-자고갈래? >은(는) 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.<br/><br/>
                        1. 개인정보의 암호화<br/>
                        이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingsix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                        제9조(개인정보를 자동으로 수집하는 장치의 설치·운영 및 그 거부에 관한 사항)
                    </button>
                </h2>
                <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        ① 숙덕숙덕-자고갈래? 은(는) 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.<br/><br/>
                        ② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.<br/><br/>
                        가. 쿠키의 사용 목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.<br/>
                        나. 쿠키의 설치•운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.<br/>
                        다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingseven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                        제10조(행태정보의 수집·이용·제공 및 거부 등에 관한 사항)
                    </button>
                </h2>
                <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        행태정보의 수집·이용·제공 및 거부등에 관한 사항<br/><br/>
                        < 개인정보처리자명 >은(는) 온라인 맞춤형 광고 등을 위한 행태정보를 수집·이용·제공하지 않습니다.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingeight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                        제11조(추가적인 이용·제공 판단기준)
                    </button>
                </h2>
                <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        < 숙덕숙덕-자고갈래? > 은(는) ｢개인정보 보호법｣ 제15조제3항 및 제17조제4항에 따라 ｢개인정보 보호법 시행령｣ 제14조의2에 따른 사항을 고려하여 정보주체의 동의 없이 개인정보를 추가적으로 이용·제공할 수 있습니다. 이에 따라 < 숙덕숙덕-자고갈래? > 가(이) 정보주체의 동의 없이 추가적인 이용·제공을 하기 위해서 다음과 같은 사항을 고려하였습니다.<br/><br/>
                        ▶ 개인정보를 추가적으로 이용·제공하려는 목적이 당초 수집 목적과 관련성이 있는지 여부<br/><br/>
                        ▶ 개인정보를 수집한 정황 또는 처리 관행에 비추어 볼 때 추가적인 이용·제공에 대한 예측 가능성이 있는지 여부<br/><br/>
                        ▶ 개인정보의 추가적인 이용·제공이 정보주체의 이익을 부당하게 침해하는지 여부<br/><br/>
                        ▶ 가명처리 또는 암호화 등 안전성 확보에 필요한 조치를 하였는지 여부<br/><br/>
                        ※ 추가적인 이용·제공 시 고려사항에 대한 판단기준은 사업자/단체 스스로 자율적으로 판단하여 작성·공개함
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingnine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                        제13조 (개인정보 보호책임자에 관한 사항)
                    </button>
                </h2>
                <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        ① 숙덕숙덕-자고갈래? 은(는) 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.<br/><br/>
                        ▶ 개인정보 보호책임자<br/>
                        성명 :숙덕숙덕<br/>
                        연락처 :2023-0707, sdsd@sdsd.com, 2023-0707<br/>
                        ※ 개인정보 보호 담당부서로 연결됩니다.<br/><br/>
                        ▶ 개인정보 보호 담당부서<br/>
                        부서명 :숙덕숙덕<br/>
                        담당자 :숙덕숙덕<br/>
                        연락처 :2023-0707, sdsd@sdsd.com, 2023-0707<br/><br/>
                        ② 정보주체께서는 숙덕숙덕-자고갈래? 의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 숙덕숙덕-자고갈래? 은(는) 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>
<!--main 마지막-->

<div data-th-include="footer" id="footer" style="margin-top: 50px;"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous">
</script>

</html>